# Ignorar archivos específicos
/.DS_Store
/.Trash/
/.bash_history
/.bash_sessions/
/.conda/
/.vscode/
/Applications/
/Desktop/
/Downloads/
/Movies/
/Music/
/Pictures/
/Library/
/Virtual Machines.localized/

